// body,html{
//   line-height:1;
//   font-weight: 200;
//   font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial;
// }

@mixin border-1px($color) {
  position: relative;

  ::after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid $color;
    content: '';
  }
}

@mixin bg-image($url) {
  background-image: url($url+"@2x.png")
}